@model Taller.Web.Models.ListCarModel

@if (Model.aspNetUser.IsAuthenticated())
{
    <div class="container col-12">
        <div class="row">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Make</th>
                        <th scope="col">Model</th>
                        <th scope="col">Price</th>
                        <th scope="col">Year</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        foreach (var produto in Model.cars.List.OrderBy(p => p.Model))
                        {
                            <tr>
                                <td>@produto.Id</td>
                                <td>@produto.Make</td>
                                <td>@produto.Model</td>
                                <td>@produto.Price</td>
                                <td>@produto.Year</td>
                                <td>
                                    <a asp-controller="Home" asp-action="Delete" asp-route-id="@produto.Id" class="btn btn-danger">
                                        <b> Delete</b>
                                    </a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
        <div class="row">
            <a asp-controller="Home" asp-action="New" class="btn btn-success"> New</a>
            <a asp-controller="Home" asp-action="Logout" class="btn btn-danger"> Logout</a>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
}
else
{
    <div class="container col-6">
        <small class="title text-muted">You must be logged</small>
    </div>
}

<script type="text/javascript">
    "use strict";


</script>
